<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Curriculum Victoria Andrerina Muñoz Sisso</h1>
        <p>Calle Guabairo, 5. 28047 Madrid</p>
        <a href="mailto:victoriamunozsisso@gmail.com">victoriamunozsisso@gmail.com</a>
    </header>
    <main>
        <section>
            <h2>Educación</h2>
            <ul>
                <li>Título Obtenido: Ingeniero Industrial</li>
                <li>Universidad Nacional Experimental Politecnica Antonio Jose de Sucre</li>
            </ul>
        </section>
    </main>
        <footer>
            <setion>
            <a href="..\index.html">Datos Generales</a>
            <a href="..\bio\bio.html">Biografia</a>
            <a href="..\educacion\educacion.html">Educación</a>
            <a href="..\experiencia_laboral\experiencia.html">Experiencia Laboral</a>
            <a href="..\hobbies\hobbies.html">Hobbies</a>
            </section>
            <hr />
            <p>Copyright Victoria Muñoz 2019</p>
        </footer>
    </body>
</html>