.pokemon_logos-principales {
    align-content: center; /*Flexbox. Ajusta las líneas al rededor del centro del eje transversal*/
    display: flex; /*Flexbox. En la propiedad display . Cada hijo de un contenedor flex se convierte en un elemento flexible.*/
    justify-content: center; /*Flexbox. Alinear items en el centro */
    margin-bottom: 50px; /*Position. Establece el espacio requerido en la parte inferior de un elemento. Tambien se permiten valores negativos.*/
    position: relative; /*Position. Se posiciona en funcion a donde esta, no te saca de la caja del flujo*/
}

.pokemon_logo-back {
    animation-duration: 1s;
    animation-name: big-logo-in;
    z-index: 0; /*La propiedad CSS z-index indica el z-order de un elemento y sus descendientes. Cuando varios elementos se superponen, z-order determina cuales cubren a otros. Un elemento con mayor z-index generalmente cubre a otro menor.*/
}

.pokemon_logo-front {
    animation-duration: 2s;
    animation-name: small-logo-in;
    bottom: 15px; /*La propiedad bottom especifica parte de la posición de un elemento (posicionado - es decir, con una posición determinada por código).*/
    position: absolute; /*Flexbox. El elemento se posiciona en relación con su primer elemento ancestral posicionado.*/
    width: 15%; /*Box Model. El núcleo de la caja se define por el ancho y la altura de un elemento. Relleno y luego borde expandir las dimensiones de la caja. Además, cualquier margen que especifiquemos seguirá el borde.*/
    z-index: 1; /*La propiedad CSS z-index indica el z-order de un elemento y sus descendientes. Cuando varios elementos se superponen, z-order determina cuales cubren a otros. Un elemento con mayor z-index generalmente cubre a otro menor.*/
}

.list_pokemon {
    display: grid; /*Flexbox. Diseño y posición, También se destaca por permitir dividir una página en áreas o regiones principales, por definir la relación en términos de tamaño, posición y capas entre partes de un control construido a partir de primitivas HTML*/
    grid-column-gap: 10px; /*Flexbox. Diseño y posición. La propiedad CSS grid-column-gap especifica el gutter entre grid columns*/
    grid-template-columns: repeat(4, 24%); /*Flexbox. La propiedad CSS grid-template-columns define el nombre de las líneas y las funciones de tamaño de línea de grid columns*/
    grid-row-gap: 25px; /*Flexbox. La propiedad CSS de separación entre filas establece el tamaño de la separación (margen) entre las filas de la cuadrícula de un elemento.*/
    justify-items: center; /*Flexbox. Empaque los artículos alrededor del centro*/
    margin: 0 auto; /*La propiedad CSS margin establece el margen para los cuatro lados. Es una abreviación para evitar tener que establecer cada lado por separado con las otras propiedades de margen:  margin-top, margin-right, margin-bottom y margin-left.*/
    margin-bottom: 50px; /*Position. Establece el espacio requerido en la parte inferior de un elemento. Tambien se permiten valores negativos.*/
}

.tarjeta_pokemon {
    animation-duration: 1s;
    animation-name: fade-in;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .2s ease-in-out,
                transform .2s ease-in-out;
    transform: translateY(0);
}

.tarjeta_pokemon:hover {
    box-shadow: 0 5px 15px -5px rgba(1, 1, 1, .5);
    transform: translateY(-10px);
}

.tarjeta_pokemon-imagen---contenedor {
    background: #EBEBEB;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 0;
}

.tarjeta_pokemon-descripcion {
    background: #FFF;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 10px;
}

.tarjeta_pokemon-numero {
    color: #919191;
    font-size: 14px;
    font-weight: 600;
}

.tarjeta_pokemon-nombre {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.tipo_pokemon {
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px 0;
    text-align: center;
    width: calc(50% - 20px);
}

.tarjeta_pokemon-tipos {
    display: flex; /*Flebox. En la propiedad display . Cada hijo de un contenedor flex se convierte en un elemento flexible.*/
}

.tarjeta_pokemon-tipo-fire {
    background: #FD7D24;
    color: #FFF;
}

.tarjeta_pokemon-tipo-plant {
    background: #9BCC50;
    color: #222;
}

.tarjeta_pokemon-tipo-poison {
    background: #B97FC9;
    color: #FFF;
}

.tarjeta_pokemon-tipo-bug {
    background: #729F3F;
    color: #FFF;
}

.tarjeta_pokemon-tipo-water {
    background: #4592C4;
    color: #FFF;
}

.tarjeta_pokemon-tipo-normal {
    background: #A4ACAF;
    color: #222;
}

.tarjeta_pokemon-tipo-electric {
    background: #EED535;
    color: #222;
}

.tarjeta_pokemon-tipo-fairy {
    background: #FDB9E9;
    color: #222;
}

.tarjeta_pokemon-tipo-earth {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #222;
}

.tarjeta_pokemon-tipo-ice {
    background: #51C4E7;
    color: #222;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes big-logo-in {
    0% {
      opacity: 0;
      transform: translateX(-2000px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes small-logo-in {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

