<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<nav class="menu">
    <p>Curriculum</p>
</nav>
<body>
    <header>
        <h1 class="menu">Curriculum Vitae de Victoria Andreina Muñoz Sisso</h1>
        <img src="Vicky.jpg" alt="mi foto de perfil">
        <p>Calle Guabairo, 5. 28047 Madrid</p>
        <a href="mailto:victoriamunozsisso@gmail.com">victoriamunozsisso@gmail.com</a>
    </header>
    <main>
        <section>
            <h2>Datos Generales</h2>
            <ul>
                <li>Fecha de Nacimiento: 21/01/1991</li>
                <li>Teléfono: 693001895</li>
                <li>Nacionalidad: Venezolana</li>
            </ul>
        </section>
    </main>
<footer>
        <setion>
            <a href=".\index.html">Datos Generales</a>
            <a href=".\bio\bio.html">Biografia</a>
            <a href=".\educacion\educacion.html">Educación</a>
            <a href=".\experiencia_laboral\experiencia.html">Experiencia Laboral</a>
            <a href=".\hobbies\hobbies.html">Hobbies</a>
        </section>
        <hr />
        <p>Copyright Victoria Muñoz 2019</p>
</footer>
</body>
</html>